
body {
    background-image:url("https://s-media-cache-ak0.pinimg.com/originals/ac/73/4e/ac734e765c2067227d5edcceb832157f.jpg");
    color:#800000 ;
    background-size:cover
}  
h1{
    font-size:120px;
   
}
footer {
    position: absolute; bottom: 0; border:1px solid gray;
}